.ListTitle {
    font-size: 1.5cm;
    margin-bottom: 25px;
    color: azure;
}

.ListBackground {
    background-color: teal;
}





.root {
    display: 'flex',
  }

.toolbar {
    paddingRight: 24, // keep right padding when drawer closed
  }

.menuButton {
    marginRight: 36,
  }

.menuButtonHidden {
    display: 'none',
  }

.title {
    flexGrow: 1,
  }
